<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>App created with: </p>
            <ul>
                <li><b> NodeJS:</b></li>
                    <ul>
                        <li>Express</li>
                        <li>bcryptjs</li>
                        <li>mongoose</li>
                        <li>passport</li>                        
                    </ul>
                <li> <b>Bootstrap</b>   </li>
                <li> <b>Handlebars</b>  </li>
                <li><b> MongoDB</b></li>
            </ul>        
    <div>
        <p>Following the tutorial: <a href="https://www.youtube.com/watch?v=-bI0diefasA&list=PLL0TiOXBeDaiu1zLjVOY9f-47ighUymqf">
            Nodejs y Mongodb Aplicación completa (Login, Registro,CRUD, ES6+, y más)

        </a></p>
        <p>For more projects: <a href="https://github.com/OmarGReyes" target="_blank">Github</a></p>
    </div>
    </div>
</div>