<div class="jumbotron mt-4">
    <h1 class="display-3"> MongNotesJS</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Application created to strengthen knowledge in backend (Node, express) and frontend (HTML, CSS, Bootstrap and handlebars).</p>

    <a href="https://github.com/OmarGReyes" class="btn btn-primary btn-lg" target="_blank">Github</a>

    <hr class="my-4">
    <h2 class="display-4">How to use?</h2>
    <hr class="my-4 ">
    <p> 
        <ol>
            <li>Sign up</li>
            <li>Log in</li>
            <li>Enjoy creating new notes!</li>          
        </ol>
    </p>

</div>